{% extends 'base.html.twig' %}

{% block title %}
    Brainstorm🧠
{% endblock %}

{% block body %}
    
    <div class="container-fluid">
        <div class="row">
        <h1 class="col-12 rosa text-center"> BRAINSTORM BOULEVARD </h1>
        </div>
        <div class="row">

            <div class="col-2 m-5 bg-white">
                <ul class="nav flex-column">
                {# aquí debajo meto la primera posición del array a mano
                y luego con ifs voy mirando si son temas/tareas o asignatúras #}
                    <li class="nav-item">
                        <a class="nav-link rosa" aria-current="page" href="#"><strong>Principal</strong></a>
                    </li>
                    <li class="nav-item m-3">
                        <a class="nav-link rosa" href="#">Bilogía</a>
                        <li class="nav-item m-5 mt-0"> 
                        <a class="nav-link rosa" href="#">La evolución</a>
                        <a class="nav-link rosa" href="#">Tarea sobre darwin</a>
                        </li>
                    </li>
                    <li class="nav-item m-3 mt-0">
                        <a class="nav-link rosa" href="#">Música</a>
                    </li>
                </ul>
            </div>

            <div class="col-6 m-5 bg-white">
                <ul class="nav flex-column">
                {# aquí debajo meto la primera posición del array a mano
                y luego con ifs voy mirando si son temas/tareas o asignatúras #}
                    <li class="nav-item">
                        <h1 class="rosa"><strong>Tareas Pendientes:</strong></h1>
                    </li>
                    {# aquí se indicaría un if, que si no hay tareas pendientes ponga: ninguna tarea por hacer. #}
                    <li class="nav-item m-5">
                        <h3 class="rosa text-center">Tarea sobre darwin</h3>
                    </li>
                    </li>
                </ul>
            </div>

             <div class="col-2 m-5 bg-white">
                <ul class="nav flex-column">
                {# proximamente aquí tengo pensado incluir un calendario #}
                    <li class="nav-item">
                        <p class="m-5 text-center"><a class="nav rosa" href="#">Calendario</a></p>
                    </li>
                </ul>
            </div>

        </div>



        </div>

    </div>

{% endblock %}