{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
    {% if error %}
    <div class="alert alert-danger tamaño" role="alert">
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    </div> 
    {% endif %}

    <style>

    .tamaño{
        height: 80px;
    }

    h1{
        padding: 20px;
    }

    div{
        padding: 20px;
    }

    input,label,button{
        margin-top: 20px;
    }
    
    .centrado{
        text-align: center;
        top: 15%;
    }

    p{
        margin-top: 10px;
    }

    </style>

    <form action="{{ path('login') }}" method="post">
    
        <div class="bg-white centrado">

        <div class="row">
        <h1 class="col-12 optimo rosa "> BRAINSTORM BOULEVARD </h1>
        </div>

        <label for="username" class="form-label rosa">Email address:</label>
        <input type="email" class="form-control" id="username" name="_username" placeholder="name@example.com" value="{{ last_username }}">

        <label for="password" class="form-label rosa">Password:</label>
        <input type="password" id="password" name="_password" class="form-control">
        

        {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"> #}
                <input type="hidden" name="_target_path" value="{{ url('principal', {'id': userID}) }}">

        <button type="submit" class="btn btn-dark rosa">Login</button>

        <p><a class="link-opacity-100 rosa" href="http://localhost/brainstorm/public/registration">You are not logered? Register-></a></p>

        </div>
    </form>
{% endblock %}