@import "~bootstrap/scss/bootstrap";

.adios{
background-color: blue;
}

.holaholahola{
    color: bisque;
}

// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Then import Bootstrap
@import "./node_modules/bootstrap/scss/bootstrap";