{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

<style>
.container-fluid {
    padding: 20px;
}

h1, h3 {
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

form {
    margin-top: 50px;
    text-align: center;
}

input {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #AF4933;
}

label {
    color: #AF4933;
    font-weight: bold;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    color: #AF4933;
    border: 1px solid #AF4933;
}

</style>

<div class="container-fluid">
    <div class="row">
        <h1 class="col-12 optimo rosa bg-white">BRAINSTORM BOULEVARD</h1>
    </div>

    <div class="row bg-white">
        <h3 class="col-12 mt-2 optimo rosa bg-white">REGISTRATION FORM:</h3>
        <div class="col-12 text-center">
            <div class="">
                {{ form(registration_form) }}
            </div>
        </div>
    </div>

</div>

{% endblock %}
