{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

<style>
.container-fluid {
    padding: 20px;
}

h1, h3 {
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

form {
    margin-top: 50px;
    text-align: center;
}

input {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #AF4933;
}

label {
    color: #AF4933;
    font-weight: bold;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    color: #AF4933;
    border: 1px solid #AF4933;
}

input[type="checkbox"]{
    margin-left: 20px;
}

label{
    margin-right: 2px;
    margin-left: 2px;
}

</style>

<div class="container-fluid">

    <div class="row">
        
        <div class="col-12 text-center">

            <div class="card mx-auto mt-5 mb-4" style="width: 30%;">
                <h5 class="col-12 mt-2 optimo rosa ">REGISTRATION FORM:</h5>
                {{ form(registration_form) }}
                {% for flashError in app.session.flashBag.get('error') %}
                    <div class="alert alert-danger tamaño" role="alert">
                        <div>{{ flashError }}</div>
                    </div>
                {% endfor %}
                <a href="{{ path('login') }}" class="btn rosa">Volver</a>
            </div>
        </div>
    </div>

</div>

{% endblock %}
