{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

<style>
.container-fluid {
    padding: 20px;
}

h1, h3 {
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

form {
    margin-top: 50px;
    text-align: center;
}

input {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #AF4933;
}

label {
    color: #AF4933;
    font-weight: bold;
}

button {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    color: #AF4933;
    border: 1px solid #AF4933;
}

input[type="checkbox"]{
    margin-left: 20px;
}

label{
    margin-right: 2px;
    margin-left: 2px;
}

</style>

<div class="container-fluid">

    <div class="row justify-content-center"> <!-- Agregada clase justify-content-center para centrar horizontalmente -->
        
        <div class="col-md-6 col-lg-4"> <!-- Utilizando clases col-md-6 col-lg-4 para el tamaño de columna en pantallas medianas -->
        
            <div class="card mx-auto mt-5 mb-4">
                <h5 class="col-12 mt-2 optimo rosa text-center">REGISTRATION FORM:</h5> <!-- Agregada clase text-center para centrar el texto -->
                <form>
                    <div class="card-body"> <!-- Agregada clase card-body para un estilo de contenido en la tarjeta -->
                        {{ form(registration_form) }}
                        {% for flashError in app.session.flashBag.get('error') %}
                            <div class="alert alert-danger tamaño" role="alert">
                                <div>{{ flashError }}</div>
                            </div>
                        {% endfor %}
                        <div class="text-center"> <!-- Agregada clase text-center para centrar los botones -->
                            <a href="{{ path('login') }}" class="btn rosa">Volver</a>
                        </div>
                    </div>
                </form>
            </div>
            
        </div>
        
    </div>

</div>

{% endblock %}
